<ul>
  <%= for action <- @actions do %>
    <li>
      <strong><%= link(action.name, to: Routes.action_path(@conn, :show, action.name)) %></strong>: <%= action.description %>
    </li>
  <% end %>
</ul>
