<%= form_for @action, Routes.action_path(@conn, :create), fn f -> %>
  <%= for field <- ActionChangeset.form_fields(@action) do %>
    <label><%= ActionChangeset.field_label(field) %></label>
    <%= ActionChangeset.input_field(f, field) %>
  <% end %>

  <%= submit "Submit" %>
<% end %>
