<ul>
  <%= for action <- @actions do %>
    <li>
      <strong><%= link(action.description |> ActionChangeset.replace_symbols, to: Routes.action_path(@conn, :show, action.name)) %></strong>
    </li>
  <% end %>
</ul>
